body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  margin: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-signin i.fa-building {
  font-size: 5rem; /* Ajusta el tamaño según tu preferencia */
  margin-bottom: 2rem;
  color: #74C0FC;
}

/* Opcional: Puedes centrar todo el contenido del container si aún no está */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
